p{
  font-family: 'Oswald', Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16pt;
  color: #093654;
}

h1{
  text-align: center;
  font-family: 'Merriweather', Georgia, serif;
  font-weight: bold;
  font-size: 3em;
  color: #0bff01;
  background-color: #ff859c;
}

body{
  background-color: #fdd1cb;
}

#container {
    width: 95%;
    margin: 0 auto;
}

.profile{
  text-align: center;
}

.info{
  text-align: center;
}

.headshot {
  text-align: center;
}

.headshot img {
  max-width: 100%;
  height: auto;
}

.running {
  text-align: center;
}

.running img{
  max-width: 100%;
  height: auto;
}

.pullquote {
  display: none;
}

#navigation {
  background-color: #fff;
  width: 80%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  margin: 0 auto 0 auto;
  margin: 0 auto;
}

#nav {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

#nav li{
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
}

  #nav a:link, #nav a:visited {
    display: block;
    color: #fff;
    background-color: #ed1255;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 4px;
    font-family: 'Oswald', Helvetica, sans-serif;
  }

    #nav a:hover, #nav a:active {
      background-color:	#ff93ac;
    }

  #footer {
      color: black;
      font-family: 'Oswald', Helvetica, sans-serif;
      font: 1em;
      border-top: 1px solid black;
      background-color:	#ffbfd3;
  }

  img{
      border: none;
  }

  @media screen and (min-width: 600px){
    #container {
      width: 75%;
    }
  }

  @media screen and (min-width: 1000px) {
    #nav {
      flex-direction: row;
      justify-content: space-around;
      background-color: #fdd1cb;
    }

    .profile {
      float: left;
      margin-right: 20px;
    }

    .pullquote{
      display: block;
      font-size: 20pt;
      font-weight: bolder;
      font-style: italic;
    }
  }

  @media screen and (min-width: 1200px) {
    article{
      display: grid;
      grid-template-columns: 250px 1fr 1fr;
      grid-gap: 20px;
      grid-template-areas:
        "a b b"
        "a c c"
        "d d f"
        "g g h"
        "e e e"
    }

    .profile{
      margin-top: auto;
      margin-bottom: auto;
      grid-area: a;
    }

    .profile img{
      width: 250px;
    }

    .info{
      grid-area: b;
    }

    .bio1{
      grid-area: c;
    }

    .bio2{
      grid-area: d;
    }

    .bio3{
      grid-area: e;
    }

    .headshot{
      grid-area: f;
    }

    .running{
      grid-area: g;
    }

    .pullquote{
      grid-area: h
    }

    #pullquote{
      font-size: 40px;
    }
  }
